@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Sarabun&display=swap");

:root {
  font-family: Kanit, sans-serif;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
